@page "/timer"

@using System.Timers


    <div class="text-center">
        <h1>Counter</h1>
@*
    Ici, on affiche notre timer qui se décrémente chaque seconde d'un nombre
*@
        <h3>Il vous reste  @Time  secondes</h3>
    @*
        Cette instruction conditionnelle vérifie si le timer stritement inférieur à 1
        et si tel est le, l'utilisateur set averti par une alerte en dessus du timer
    *@

        @if (@Time < 1)
        {
            <div class="alert alert-info">Fin du programme !!</div>
        }

    </div>

@code {
        [Parameter]
        @*
            On définit le type et valeur de notre variable Time en seconde
        *@

        public int Time { get; set; } = 20; //en seconde

        public async void StartTimerAsync() {

        //une boucle while pour décrémenter la valeur du Time d'un nombre jusqu'à ce qu'il
        //soit strictement inférieur à 0
            while (Time > 0) {
                Time--;
                StateHasChanged();
                await Task.Delay(1000);
            }
        }
         

    protected override void OnInitialized()
        => StartTimerAsync();

}
